.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .accordion .label-container {
    user-select: none;
    background: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: .25px solid #2C2C2C;
}

.container .accordion .label-container .label-class {
    outline-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;

    padding: .556rem .556rem .556rem 1rem;
    font-size: 1.125rem;
    font-family: 'Mulish', monospace;
    font-style: normal;
    color: #2C2C2C;
    width: 100%;
}

.container .accordion .label-container .arrow {
    padding-left: .889rem;
    transform: rotate(180deg);
}

.container .accordion .control-label + input[type="checkbox"] {
    display: none;
}

.container .accordion .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.container .accordion .content .position-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    border-bottom: .25px solid #2C2C2C;
}

.container .accordion .content .position-container .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem .667rem .222rem .667rem;
    font-family: 'Mulish', monospace;
    font-style: normal;
    font-weight: 600;
    line-height: 1.111rem;
    letter-spacing: .007em;
    color: #2C2C2C;
}

.container .accordion .content .position-container .second-row {
    width: 100%;
    padding: .111rem 0 .667rem .667rem;
    font-family: 'Mulish', monospace;
    font-style: italic;
    font-weight: 400;
    font-size: .667rem;
    line-height: .833rem;
    letter-spacing: .007em;

    color: #2C2C2C;
}
