.menu-container .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: #2C2C2C;
}

.menu-container .header-container .icon-container {
    padding-left: 1rem;
}

.menu-container .header-container .icon-container .icon-content {
    padding: .2rem;
}

.menu-container .header-container .menu-container {
    padding: 1.125rem 0 1.125rem 0;
    flex: 1;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Felix Titling', serif;
    color: #FFFFFF;
}

.menu-container .header-container .logo-container {
    padding-right: 1rem;
}

.menu-container .header-container .logo-container .logo-content {
    height: 2.5rem;
    width: 3.125rem;
}
