.menu-container .content {
    width: 100%;
}

.menu-container .container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
}

.menu-container .container .next-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background: #FFFFFF;
    border-bottom: .25px solid #2C2C2C;
}

.menu-container .container .next-menu-button .page-name {
    padding-left: 1rem;
    font-size: 1.125rem;
    font-family: 'Mulish', monospace;
    font-style: normal;
    color: #2C2C2C;
}

.menu-container .container .next-menu-button .arrow {
    padding-right: .47rem;
}
