html {
    background-color: #E5E5E5;
    font-size: 18px;
    width: 100%;
}

body {
    margin: 0;
    -webkit-text-size-adjust: none;
}

.main-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-page-container .logo-container {
    margin: 3.556rem 3.278rem 0 3.278rem;
    height: 13.444rem;
    width: 16.222rem;
    flex: 1;
}

.main-page-container .menu-container {
    padding: 2rem 0 2.028rem 0;
    flex: 1;
    font-size: 2rem;
    font-family: 'Felix Titling', serif;
}


.buttons-container {
    padding-left: 3.688rem;
}

.buttons-container .language-button-container {
    display: flex;
    padding-bottom: 1.667rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.278rem;
    font-family: 'Mulish', monospace;
    letter-spacing: 0.007em;
    color: #2C2C2C;
}

.buttons-container .language-button-container .icon-content{
    font-weight: 100;
    padding-left: .889rem;
}
