body {
    margin: 0;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-container .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: #2C2C2C;
}


.menu-container .header-container .icon-container {
    padding-left: 1rem;
}

.menu-container .header-container .icon-container .icon-content {
    display: inline-block;
    border-radius: 52px;
    padding: 0.5rem;
    background: white;
}


.menu-container .header-container .menu-container {
    padding: 1.125rem 0 1.125rem 0;
    flex: 1;
    font-size: 1.5rem;
    font-family: 'Felix Titling', serif;
    color: #FFFFFF;
}


.menu-container .header-container .logo-container {
    padding-right: 1rem;
}

.menu-container .header-container .logo-container .logo-content {
    height: 2.5rem;
    width: 3.125rem;
}

.menu-container .pages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-container .pages-container .next-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background: #FFFFFF;
    border-bottom: .25px solid #2C2C2C;
}

.menu-container .pages-container .next-menu-button .page-name {
    padding-left: 1rem;
    font-family: 'Mulish', monospace;
    font-style: normal;
    color: #2C2C2C;
}

.menu-container .pages-container .next-menu-button .icon-content {
    padding: 0.3rem;
    transform: rotate(180deg)
}
